*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: helvetica,"sans-serif";
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%; }

.main-wrapper {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 100%; }

.h-wrap {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap row;
  min-height: 100px; }

.contenido {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap row;
  width: 100%;
  margin: auto 0; }
  @media (max-width: 1100px) {
    .contenido {
      flex-flow: nowrap column; } }

.h1 {
  font-weight: 600;
  font-size: 4.4rem;
  color: #5b687b; }

.mitad-input {
  width: 500px;
  min-height: 520px;
  margin-right: 6rem; }
  @media (max-width: 1100px) {
    .mitad-input {
      margin-right: 0; } }

.mitad-preview {
  width: 500px;
  height: 707px; }

.btn {
  cursor: pointer; }

.fp {
  margin-bottom: 6vh; }

.fieldset {
  border: none;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center; }

.legend {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: #b0b0b0;
  margin-left: 8.5px; }

.input {
  margin-bottom: 1rem;
  height: 3.7rem;
  border-radius: 2px;
  border: 1px solid #aeafb2;
  letter-spacing: .08rem; }
  .input-txt {
    background-color: #f5f8fa;
    width: 483px;
    padding-left: 1rem; }
  .input-txt:focus {
    background-color: white; }
  .input-txtarea {
    background-color: #f5f8fa;
    width: 483px;
    resize: none;
    font-family: helvetica, "sans-serif";
    padding: 1rem;
    font-size: 1.4rem;
    height: 16.5rem;
    margin-bottom: .3rem; }
  .input-txtarea:focus {
    background-color: white; }
  .input-btn {
    font-size: 2rem;
    background-image: linear-gradient(0.1turn, #ff4d2e, #ff743d);
    border: none;
    color: white;
    cursor: pointer; }

.input:invalid {
  box-shadow: none;
  background-color: #f5f8fa; }
  .input:invalid:focus {
    background-color: white; }

.activarequired:invalid {
  box-shadow: none;
  background-color: #ffe0e0; }
  .activarequired:invalid:focus {
    background-color: #ffebeb; }

.mensaje-error {
  background-color: #ffe0e0;
  margin: 1rem 8.5px;
  padding: 1rem;
  font-size: 1.6rem;
  color: #4d4d4d; }
  .mensaje-error * {
    margin-bottom: .5rem; }
    .mensaje-error *:last-child {
      margin-bottom: 0; }

.forma-final {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  margin: 0 8.5px; }

.forma-disenos {
  display: inline-block; }

.diseno-radio {
  background-image: url(../svg/estilo1.svg);
  border-radius: 0;
  display: none; }
  .diseno-radio:checked + .diseno-label img {
    height: 6.5rem;
    opacity: .5; }

.diseno-label {
  position: relative;
  display: inline-block;
  height: 4.5rem;
  width: 6.5rem;
  margin-right: 5px;
  cursor: pointer; }
  .diseno-label img {
    border-radius: 1.2px;
    position: absolute;
    height: 4.5rem;
    width: 6.5rem;
    object-fit: cover;
    object-position: 0;
    transition: height .1s; }
    .diseno-label img:hover {
      opacity: .8; }

.generar {
  display: inline-block;
  margin-top: .7rem;
  margin-right: 8.5px;
  margin-left: auto;
  padding: 0 2.8rem .3rem;
  height: 4.5rem;
  border-radius: 2px; }

.panel-descarga {
  margin: 0 8.5px;
  background-color: #deeced;
  padding: 0 23px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center; }

.descarga {
  width: 100%; }

.wrap-titulo-descarga {
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 1px solid white; }

.titulo-descarga {
  font-size: 2.6rem;
  color: #5b687b; }

.descarga-directa {
  margin-top: 2.4rem;
  margin-bottom: 2rem; }

.btn-descarga {
  display: inline-block;
  height: 3.5rem;
  width: 18rem;
  border: 0;
  background-image: linear-gradient(0.1turn, #ff4d2e, #ff743d);
  color: white;
  margin-right: 1.1rem;
  border-radius: 2px; }

.nombre-archivo {
  font-size: 1.3rem; }

.descarga-email {
  margin-bottom: 1.4rem; }

.input-mail {
  width: 27.6rem;
  float: right;
  cursor: text; }

.desactivado {
  background-image: none;
  background-color: #b0b0b0;
  color: #8a8a8a; }

.mitad-preview {
  width: 600px; }
  @media (max-width: 1100px) {
    .mitad-preview {
      height: 850px;
      margin: 4rem 0; } }
